<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>IamShob</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  
</head>
<body>
      <ul>
  <li class="logo"><img id="logo" src="/assets/img/logo.png" alt="logo"/></li>
  <li><a href="/">Home</a></li>
  <li><a id="loginButton" href="/login">Login</a></li>
  <li><a id="signupButton" href="/signup">Sign up</a></li>
  <li><a id="shopButton" href="/shop">Merch</a></li>
  {{#if loggedIn}}
  
  <li><a id="logoutButton" href="/logout">Logout</a></li>
  {{/if}}  
    </ul>
     
  {{{body}}}
</body>
</html>
