<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Be Better</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
      <ul>
  <li class="logo"><img id="logo" src="/assets/img/logo.png" alt="logo"/></li>
  <li><a href="/">Home</a></li>
    {{#if admin}}
    <li><a id="uploadButton" href="/uploadPage">Upload Merch</a></li>
    {{/if}}

  {{#if loggedIn}}
   <li><a id="shopButton" href="/shop">Merch</a></li>
  <li><a id="logoutButton" href="/logout">Logout</a></li>
  <li><a id="changePassButton" href="/changePassword">ChangePassword</a></li>
  <li><a id="cartButton" href="/cart" class="cart" aria-label="View your shopping cart">Cart: 0</a></li>
  
{{else}}
  <li><a id="loginButton" href="/login">Login</a></li>
  <li><a id="changePassButton" href="/changePassword">ChangePassword</a></li>
  <li><a id="signupButton" href="/signup">Sign up</a></li>
  {{/if}}


    </ul>
    </nav>
     
  {{{body}}}
</body>
</html>
