<!DOCTYPE html>
<html>
  <head>
    <title>Item Upload</title>
      <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  </head>
    
  <body>
    <html>
  <body>
      <section id="uploadFormSection"> 

      </section>

      <section id="deleteFormSection"> 
        
      </section>
      <script src="/assets/shopBundle.js"></script>
  </body>
</html>
  </body>
</html>