html, body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    color:#111;
    font-family: 'Raleway', sans-serif;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border-radius: 8px;
}

ul {
  margin: 0;
    list-style-type: none;
    flex-flow:row-reverse;
    display: flex;
    flex-direction: row;
    position: absolute;
  }

  li {
    font-weight: bold;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 50px;
    color: #111;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
   background-color: #111;
   color:whitesmoke;
  }

  a{
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

