html, body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    color:#111;
    font-family: 'Raleway', sans-serif;
    background: lightblue;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

#logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border-radius: 8px;
}

ul {
  margin: 0;
    list-style-type: none;
    flex-flow:row-reverse;
    display: flex;
    flex-direction: row;
    position: sticky;
  }

  li {
    font-weight: bold;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 50px;
    color: #111;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
   background-color: #111;
   color:whitesmoke;
  }

  a{
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  .mainForm {
    display: flex;
    flex-direction: column;
}

.mainForm input{
    flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    flex: 1;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.generalButtons{
  height: 60px;
  background: #2364d2;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


  #uploadWrapper{
    margin:20px;
    padding:20px;
    background: white;
  }
